Pour le nombre de user par jour, mois, ann√©e

In [1]:
#√âtape 3 : Faire une requ√™te √† l‚ÄôAPI pour ex√©cuter la requ√™te SQL https://dune.com/docs/api/api-reference/execute-queries/execute-query-id/

import json
import requests
import pandas as pd
import time

# get API key
api_key = "OjFNvUDUQ7LTP4CgTUKmcKvPZKnYkc4J"
# authentiction with api key
headers = {"X-Dune-API-Key": api_key}


query_id = 3246838 
base_url = f"https://api.dune.com/api/v1/query/{query_id}/execute"
params = {
    "performance": "medium",
}
result_response = requests.request("POST", base_url, headers=headers, params=params)

#display the json result of the query
res_js = result_response.json()
print(json.dumps(res_js,indent=2))

#√âtape 4 : R√©cup√©rer l‚ÄôID de la requ√™te

execution_id = result_response.json()["execution_id"]

base_url = f"https://api.dune.com/api/v1/query/{query_id}/results?api_key={api_key}"
result_response2 = requests.request("GET",base_url,headers=headers)
res_js2 = result_response2.json()
print(json.dumps(res_js2,indent=2))

#√âtape 6 : Transformer les r√©sultats en tableau

df = pd.DataFrame.from_dict(result_response2.json()["result"]["rows"])
df

#√âtape 7 : Exporter les r√©sultats en CSV

df.to_csv("usersbymonthbyear.csv")

{
  "execution_id": "01HHPYKKP9MARXJSCHZDC8NW6E",
  "state": "QUERY_STATE_PENDING"
}
{
  "execution_id": "01HH52BHAQTMK0916HRJSD79Y0",
  "query_id": 3246838,
  "state": "QUERY_STATE_COMPLETED",
  "submitted_at": "2023-12-08T15:57:18.551602Z",
  "expires_at": "2024-03-07T15:57:44.142075Z",
  "execution_started_at": "2023-12-08T15:57:18.572487Z",
  "execution_ended_at": "2023-12-08T15:57:44.142074Z",
  "result": {
    "rows": [
      {
        "day": 1,
        "from_count": 230298,
        "month": 1,
        "year": 2023
      },
      {
        "day": 2,
        "from_count": 279172,
        "month": 1,
        "year": 2023
      },
      {
        "day": 3,
        "from_count": 290073,
        "month": 1,
        "year": 2023
      },
      {
        "day": 4,
        "from_count": 336533,
        "month": 1,
        "year": 2023
      },
      {
        "day": 5,
        "from_count": 459017,
        "month": 1,
        "year": 2023
      },
      {
        "day": 6,
        "from_count": 325133,
        "month": 1,
        "year": 2023
      },
      {
        "day": 7,
        "from_count": 329701,
        "month": 1,
        "year": 2023
      },
      {
        "day": 8,
        "from_count": 586168,
        "month": 1,
        "year": 2023
      },
      {
        "day": 9,
        "from_count": 378801,
        "month": 1,
        "year": 2023
      },
      {
        "day": 10,
        "from_count": 346970,
        "month": 1,
        "year": 2023
      },
      {
        "day": 11,
        "from_count": 356870,
        "month": 1,
        "year": 2023
      },
      {
        "day": 12,
        "from_count": 364264,
        "month": 1,
        "year": 2023
      },
      {
        "day": 13,
        "from_count": 344367,
        "month": 1,
        "year": 2023
      },
      {
        "day": 14,
        "from_count": 372553,
        "month": 1,
        "year": 2023
      },
      {
        "day": 15,
        "from_count": 323998,
        "month": 1,
        "year": 2023
      },
      {
        "day": 16,
        "from_count": 353803,
        "month": 1,
        "year": 2023
      },
      {
        "day": 17,
        "from_count": 339361,
        "month": 1,
        "year": 2023
      },
      {
        "day": 18,
        "from_count": 403309,
        "month": 1,
        "year": 2023
      },
      {
        "day": 19,
        "from_count": 325320,
        "month": 1,
        "year": 2023
      },
      {
        "day": 20,
        "from_count": 335575,
        "month": 1,
        "year": 2023
      },
      {
        "day": 21,
        "from_count": 333533,
        "month": 1,
        "year": 2023
      },
      {
        "day": 22,
        "from_count": 289996,
        "month": 1,
        "year": 2023
      },
      {
        "day": 23,
        "from_count": 303621,
        "month": 1,
        "year": 2023
      },
      {
        "day": 24,
        "from_count": 320353,
        "month": 1,
        "year": 2023
      },
      {
        "day": 25,
        "from_count": 324097,
        "month": 1,
        "year": 2023
      },
      {
        "day": 26,
        "from_count": 340969,
        "month": 1,
        "year": 2023
      },
      {
        "day": 27,
        "from_count": 372419,
        "month": 1,
        "year": 2023
      },
      {
        "day": 28,
        "from_count": 313315,
        "month": 1,
        "year": 2023
      },
      {
        "day": 29,
        "from_count": 321690,
        "month": 1,
        "year": 2023
      },
      {
        "day": 30,
        "from_count": 361954,
        "month": 1,
        "year": 2023
      },
      {
        "day": 31,
        "from_count": 365155,
        "month": 1,
        "year": 2023
      },
      {
        "day": 1,
        "from_count": 349387,
        "month": 2,
        "year": 2023
      },
      {
        "day": 2,
        "from_count": 360948,
        "month": 2,
        "year": 2023
      },
      {
        "day": 3,
        "from_count": 335730,
        "month": 2,
        "year": 2023
      },
      {
        "day": 4,
        "from_count": 344255,
        "month": 2,
        "year": 2023
      },
      {
        "day": 5,
        "from_count": 357129,
        "month": 2,
        "year": 2023
      },
      {
        "day": 6,
        "from_count": 336455,
        "month": 2,
        "year": 2023
      },
      {
        "day": 7,
        "from_count": 352477,
        "month": 2,
        "year": 2023
      },
      {
        "day": 8,
        "from_count": 352988,
        "month": 2,
        "year": 2023
      },
      {
        "day": 9,
        "from_count": 331694,
        "month": 2,
        "year": 2023
      },
      {
        "day": 10,
        "from_count": 343022,
        "month": 2,
        "year": 2023
      },
      {
        "day": 11,
        "from_count": 315142,
        "month": 2,
        "year": 2023
      },
      {
        "day": 12,
        "from_count": 311007,
        "month": 2,
        "year": 2023
      },
      {
        "day": 13,
        "from_count": 351835,
        "month": 2,
        "year": 2023
      },
      {
        "day": 14,
        "from_count": 385663,
        "month": 2,
        "year": 2023
      },
      {
        "day": 15,
        "from_count": 372491,
        "month": 2,
        "year": 2023
      },
      {
        "day": 16,
        "from_count": 362776,
        "month": 2,
        "year": 2023
      },
      {
        "day": 17,
        "from_count": 342285,
        "month": 2,
        "year": 2023
      },
      {
        "day": 18,
        "from_count": 320481,
        "month": 2,
        "year": 2023
      },
      {
        "day": 19,
        "from_count": 311231,
        "month": 2,
        "year": 2023
      },
      {
        "day": 20,
        "from_count": 336293,
        "month": 2,
        "year": 2023
      },
      {
        "day": 21,
        "from_count": 359995,
        "month": 2,
        "year": 2023
      },
      {
        "day": 22,
        "from_count": 357668,
        "month": 2,
        "year": 2023
      },
      {
        "day": 23,
        "from_count": 395454,
        "month": 2,
        "year": 2023
      },
      {
        "day": 24,
        "from_count": 412261,
        "month": 2,
        "year": 2023
      },
      {
        "day": 25,
        "from_count": 375559,
        "month": 2,
        "year": 2023
      },
      {
        "day": 26,
        "from_count": 375107,
        "month": 2,
        "year": 2023
      },
      {
        "day": 27,
        "from_count": 373782,
        "month": 2,
        "year": 2023
      },
      {
        "day": 28,
        "from_count": 340813,
        "month": 2,
        "year": 2023
      },
      {
        "day": 1,
        "from_count": 354039,
        "month": 3,
        "year": 2023
      },
      {
        "day": 2,
        "from_count": 382609,
        "month": 3,
        "year": 2023
      },
      {
        "day": 3,
        "from_count": 364827,
        "month": 3,
        "year": 2023
      },
      {
        "day": 4,
        "from_count": 317789,
        "month": 3,
        "year": 2023
      },
      {
        "day": 5,
        "from_count": 301250,
        "month": 3,
        "year": 2023
      },
      {
        "day": 6,
        "from_count": 331703,
        "month": 3,
        "year": 2023
      },
      {
        "day": 7,
        "from_count": 329455,
        "month": 3,
        "year": 2023
      },
      {
        "day": 8,
        "from_count": 324265,
        "month": 3,
        "year": 2023
      },
      {
        "day": 9,
        "from_count": 345694,
        "month": 3,
        "year": 2023
      },
      {
        "day": 10,
        "from_count": 343510,
        "month": 3,
        "year": 2023
      },
      {
        "day": 11,
        "from_count": 307256,
        "month": 3,
        "year": 2023
      },
      {
        "day": 12,
        "from_count": 327065,
        "month": 3,
        "year": 2023
      },
      {
        "day": 13,
        "from_count": 457657,
        "month": 3,
        "year": 2023
      },
      {
        "day": 14,
        "from_count": 382701,
        "month": 3,
        "year": 2023
      },
      {
        "day": 15,
        "from_count": 378650,
        "month": 3,
        "year": 2023
      },
      {
        "day": 16,
        "from_count": 344973,
        "month": 3,
        "year": 2023
      },
      {
        "day": 17,
        "from_count": 373616,
        "month": 3,
        "year": 2023
      },
      {
        "day": 18,
        "from_count": 355649,
        "month": 3,
        "year": 2023
      },
      {
        "day": 19,
        "from_count": 331517,
        "month": 3,
        "year": 2023
      },
      {
        "day": 20,
        "from_count": 395330,
        "month": 3,
        "year": 2023
      },
      {
        "day": 21,
        "from_count": 377178,
        "month": 3,
        "year": 2023
      },
      {
        "day": 22,
        "from_count": 374528,
        "month": 3,
        "year": 2023
      },
      {
        "day": 23,
        "from_count": 376249,
        "month": 3,
        "year": 2023
      },
      {
        "day": 24,
        "from_count": 363886,
        "month": 3,
        "year": 2023
      },
      {
        "day": 25,
        "from_count": 356372,
        "month": 3,
        "year": 2023
      },
      {
        "day": 26,
        "from_count": 334049,
        "month": 3,
        "year": 2023
      },
      {
        "day": 27,
        "from_count": 355626,
        "month": 3,
        "year": 2023
      },
      {
        "day": 28,
        "from_count": 412753,
        "month": 3,
        "year": 2023
      },
      {
        "day": 29,
        "from_count": 428914,
        "month": 3,
        "year": 2023
      },
      {
        "day": 30,
        "from_count": 434080,
        "month": 3,
        "year": 2023
      },
      {
        "day": 31,
        "from_count": 408906,
        "month": 3,
        "year": 2023
      },
      {
        "day": 1,
        "from_count": 357749,
        "month": 4,
        "year": 2023
      },
      {
        "day": 2,
        "from_count": 332740,
        "month": 4,
        "year": 2023
      },
      {
        "day": 3,
        "from_count": 347657,
        "month": 4,
        "year": 2023
      },
      {
        "day": 4,
        "from_count": 362970,
        "month": 4,
        "year": 2023
      },
      {
        "day": 5,
        "from_count": 392243,
        "month": 4,
        "year": 2023
      },
      {
        "day": 6,
        "from_count": 352522,
        "month": 4,
        "year": 2023
      },
      {
        "day": 7,
        "from_count": 376349,
        "month": 4,
        "year": 2023
      },
      {
        "day": 8,
        "from_count": 317415,
        "month": 4,
        "year": 2023
      },
      {
        "day": 9,
        "from_count": 311306,
        "month": 4,
        "year": 2023
      },
      {
        "day": 10,
        "from_count": 371191,
        "month": 4,
        "year": 2023
      },
      {
        "day": 11,
        "from_count": 391124,
        "month": 4,
        "year": 2023
      },
      {
        "day": 12,
        "from_count": 364959,
        "month": 4,
        "year": 2023
      },
      {
        "day": 13,
        "from_count": 434869,
        "month": 4,
        "year": 2023
      },
      {
        "day": 14,
        "from_count": 456897,
        "month": 4,
        "year": 2023
      },
      {
        "day": 15,
        "from_count": 448021,
        "month": 4,
        "year": 2023
      },
      {
        "day": 16,
        "from_count": 304876,
        "month": 4,
        "year": 2023
      },
      {
        "day": 17,
        "from_count": 306009,
        "month": 4,
        "year": 2023
      },
      {
        "day": 18,
        "from_count": 305843,
        "month": 4,
        "year": 2023
      },
      {
        "day": 19,
        "from_count": 285565,
        "month": 4,
        "year": 2023
      },
      {
        "day": 20,
        "from_count": 304266,
        "month": 4,
        "year": 2023
      },
      {
        "day": 21,
        "from_count": 325145,
        "month": 4,
        "year": 2023
      },
      {
        "day": 22,
        "from_count": 261859,
        "month": 4,
        "year": 2023
      },
      {
        "day": 23,
        "from_count": 246277,
        "month": 4,
        "year": 2023
      },
      {
        "day": 24,
        "from_count": 278737,
        "month": 4,
        "year": 2023
      },
      {
        "day": 25,
        "from_count": 311735,
        "month": 4,
        "year": 2023
      },
      {
        "day": 26,
        "from_count": 306876,
        "month": 4,
        "year": 2023
      },
      {
        "day": 27,
        "from_count": 307533,
        "month": 4,
        "year": 2023
      },
      {
        "day": 28,
        "from_count": 314746,
        "month": 4,
        "year": 2023
      },
      {
        "day": 29,
        "from_count": 288651,
        "month": 4,
        "year": 2023
      },
      {
        "day": 30,
        "from_count": 287875,
        "month": 4,
        "year": 2023
      },
      {
        "day": 1,
        "from_count": 290728,
        "month": 5,
        "year": 2023
      },
      {
        "day": 2,
        "from_count": 304360,
        "month": 5,
        "year": 2023
      },
      {
        "day": 3,
        "from_count": 331456,
        "month": 5,
        "year": 2023
      },
      {
        "day": 4,
        "from_count": 315241,
        "month": 5,
        "year": 2023
      },
      {
        "day": 5,
        "from_count": 344748,
        "month": 5,
        "year": 2023
      },
      {
        "day": 6,
        "from_count": 294362,
        "month": 5,
        "year": 2023
      },
      {
        "day": 7,
        "from_count": 282939,
        "month": 5,
        "year": 2023
      },
      {
        "day": 8,
        "from_count": 320679,
        "month": 5,
        "year": 2023
      },
      {
        "day": 9,
        "from_count": 325600,
        "month": 5,
        "year": 2023
      },
      {
        "day": 10,
        "from_count": 304990,
        "month": 5,
        "year": 2023
      },
      {
        "day": 11,
        "from_count": 296613,
        "month": 5,
        "year": 2023
      },
      {
        "day": 12,
        "from_count": 329653,
        "month": 5,
        "year": 2023
      },
      {
        "day": 13,
        "from_count": 337490,
        "month": 5,
        "year": 2023
      },
      {
        "day": 14,
        "from_count": 342273,
        "month": 5,
        "year": 2023
      },
      {
        "day": 15,
        "from_count": 344355,
        "month": 5,
        "year": 2023
      },
      {
        "day": 16,
        "from_count": 323883,
        "month": 5,
        "year": 2023
      },
      {
        "day": 17,
        "from_count": 323727,
        "month": 5,
        "year": 2023
      },
      {
        "day": 18,
        "from_count": 310527,
        "month": 5,
        "year": 2023
      },
      {
        "day": 19,
        "from_count": 334686,
        "month": 5,
        "year": 2023
      },
      {
        "day": 20,
        "from_count": 395706,
        "month": 5,
        "year": 2023
      },
      {
        "day": 21,
        "from_count": 354137,
        "month": 5,
        "year": 2023
      },
      {
        "day": 22,
        "from_count": 324398,
        "month": 5,
        "year": 2023
      },
      {
        "day": 23,
        "from_count": 332330,
        "month": 5,
        "year": 2023
      },
      {
        "day": 24,
        "from_count": 326575,
        "month": 5,
        "year": 2023
      },
      {
        "day": 25,
        "from_count": 336106,
        "month": 5,
        "year": 2023
      },
      {
        "day": 26,
        "from_count": 342178,
        "month": 5,
        "year": 2023
      },
      {
        "day": 27,
        "from_count": 339008,
        "month": 5,
        "year": 2023
      },
      {
        "day": 28,
        "from_count": 298696,
        "month": 5,
        "year": 2023
      },
      {
        "day": 29,
        "from_count": 334292,
        "month": 5,
        "year": 2023
      },
      {
        "day": 30,
        "from_count": 382384,
        "month": 5,
        "year": 2023
      },
      {
        "day": 31,
        "from_count": 366717,
        "month": 5,
        "year": 2023
      },
      {
        "day": 1,
        "from_count": 322546,
        "month": 6,
        "year": 2023
      },
      {
        "day": 2,
        "from_count": 397013,
        "month": 6,
        "year": 2023
      },
      {
        "day": 3,
        "from_count": 350117,
        "month": 6,
        "year": 2023
      },
      {
        "day": 4,
        "from_count": 325499,
        "month": 6,
        "year": 2023
      },
      {
        "day": 5,
        "from_count": 406108,
        "month": 6,
        "year": 2023
      },
      {
        "day": 6,
        "from_count": 361565,
        "month": 6,
        "year": 2023
      },
      {
        "day": 7,
        "from_count": 365953,
        "month": 6,
        "year": 2023
      },
      {
        "day": 8,
        "from_count": 321680,
        "month": 6,
        "year": 2023
      },
      {
        "day": 9,
        "from_count": 337893,
        "month": 6,
        "year": 2023
      },
      {
        "day": 10,
        "from_count": 432081,
        "month": 6,
        "year": 2023
      },
      {
        "day": 11,
        "from_count": 474701,
        "month": 6,
        "year": 2023
      },
      {
        "day": 12,
        "from_count": 338344,
        "month": 6,
        "year": 2023
      },
      {
        "day": 13,
        "from_count": 324892,
        "month": 6,
        "year": 2023
      },
      {
        "day": 14,
        "from_count": 366592,
        "month": 6,
        "year": 2023
      },
      {
        "day": 15,
        "from_count": 412743,
        "month": 6,
        "year": 2023
      },
      {
        "day": 16,
        "from_count": 409348,
        "month": 6,
        "year": 2023
      },
      {
        "day": 17,
        "from_count": 365384,
        "month": 6,
        "year": 2023
      },
      {
        "day": 18,
        "from_count": 361430,
        "month": 6,
        "year": 2023
      },
      {
        "day": 19,
        "from_count": 372540,
        "month": 6,
        "year": 2023
      },
      {
        "day": 20,
        "from_count": 329288,
        "month": 6,
        "year": 2023
      },
      {
        "day": 21,
        "from_count": 370671,
        "month": 6,
        "year": 2023
      },
      {
        "day": 22,
        "from_count": 342411,
        "month": 6,
        "year": 2023
      },
      {
        "day": 23,
        "from_count": 371003,
        "month": 6,
        "year": 2023
      },
      {
        "day": 24,
        "from_count": 314992,
        "month": 6,
        "year": 2023
      },
      {
        "day": 25,
        "from_count": 296000,
        "month": 6,
        "year": 2023
      },
      {
        "day": 26,
        "from_count": 327855,
        "month": 6,
        "year": 2023
      },
      {
        "day": 27,
        "from_count": 333033,
        "month": 6,
        "year": 2023
      },
      {
        "day": 28,
        "from_count": 352267,
        "month": 6,
        "year": 2023
      },
      {
        "day": 29,
        "from_count": 306582,
        "month": 6,
        "year": 2023
      },
      {
        "day": 30,
        "from_count": 375508,
        "month": 6,
        "year": 2023
      },
      {
        "day": 1,
        "from_count": 325022,
        "month": 7,
        "year": 2023
      },
      {
        "day": 2,
        "from_count": 285850,
        "month": 7,
        "year": 2023
      },
      {
        "day": 3,

Pour le nombre de nouvel utilisateur

In [3]:
#√âtape 3 : Faire une requ√™te √† l‚ÄôAPI pour ex√©cuter la requ√™te SQL https://dune.com/docs/api/api-reference/execute-queries/execute-query-id/

import json
import requests
import pandas as pd
import time

# get API key
api_key = "OjFNvUDUQ7LTP4CgTUKmcKvPZKnYkc4J"
# authentiction with api key
headers = {"X-Dune-API-Key": api_key}


query_id = 3287258 
base_url = f"https://api.dune.com/api/v1/query/{query_id}/execute"
params = {
    "performance": "medium",
}
result_response = requests.request("POST", base_url, headers=headers, params=params)

#display the json result of the query
res_js = result_response.json()
print(json.dumps(res_js,indent=2))

#√âtape 4 : R√©cup√©rer l‚ÄôID de la requ√™te

execution_id = result_response.json()["execution_id"]

base_url = f"https://api.dune.com/api/v1/query/{query_id}/results?api_key={api_key}"
result_response2 = requests.request("GET",base_url,headers=headers)
res_js2 = result_response2.json()
print(json.dumps(res_js2,indent=2))

#√âtape 6 : Transformer les r√©sultats en tableau

df = pd.DataFrame.from_dict(result_response2.json()["result"]["rows"])
df

#√âtape 7 : Exporter les r√©sultats en CSV

df.to_csv("newUsers.csv")

{
  "execution_id": "01HHPZK5Y0GAE1VNX7HH1ZJ9ZS",
  "state": "QUERY_STATE_PENDING"
}
{
  "execution_id": "01HHPZH9H5T361FE9V9A2463K9",
  "query_id": 3287258,
  "state": "QUERY_STATE_COMPLETED",
  "submitted_at": "2023-12-15T14:54:21.221996Z",
  "expires_at": "2024-03-14T14:55:11.936559Z",
  "execution_started_at": "2023-12-15T14:54:21.240598Z",
  "execution_ended_at": "2023-12-15T14:55:11.936559Z",
  "result": {
    "rows": [
      {
        "month": 1,
        "new_from_count": 5094173,
        "year": 2023
      },
      {
        "month": 2,
        "new_from_count": 3118281,
        "year": 2023
      },
      {
        "month": 3,
        "new_from_count": 3374492,
        "year": 2023
      },
      {
        "month": 4,
        "new_from_count": 2752173,
        "year": 2023
      },
      {
        "month": 5,
        "new_from_count": 2719898,
        "year": 2023
      },
      {
        "month": 6,
        "new_from_count": 3424965,
        "year": 2023
      },
      {
        "month": 7,
        "new_from_count": 2697872,
        "year": 2023
      },
      {
        "month": 8,
        "new_from_count": 2528199,
        "year": 2023
      },
      {
        "month": 9,
        "new_from_count": 3786364,
        "year": 2023
      },
      {
        "month": 10,
        "new_from_count": 2637494,
        "year": 2023
      },
      {
        "month": 11,
        "new_from_count": 2354004,
        "year": 2023
      },
      {
        "month": 12,
        "new_from_count": 1249276,
        "year": 2023
      }
    ],
    "metadata": {
      "column_names": [
        "year",
        "month",
        "new_from_count"
      ],
      "result_set_bytes": 170,
      "total_row_count": 12,
      "datapoint_count": 36,
      "pending_time_millis": 18,
      "execution_time_millis": 50695
    }
  }
}